body{
    background-color: pink;

}

h1{
 margin-left: 535px;

}

Form{
    display: block; margin-left: auto; margin-right: auto; margin-top: 150px; margin-bottom: 50px; margin-left: 500px;

}
div{
    background-color: aquamarine;
    width: 250px;
    height: 150px;
    border-bottom-color: darkblue; 
    border-bottom-style:solid; 
    border-bottom-width:3px; 
    border-top-color:darkblue; 
    border-top-style:solid; 
    border-top-width:3px;
}

input:focus {

    outline: 2px solid orange;  
 }

 
input,label:hover{
    color: palevioletred;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
